* {
  box-sizing: border-box;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

p {
  text-wrap: pretty;
  overflow-wrap: break-word;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
  text-wrap: balance;
}

img,
video,
picture,
canvas,
svg {
  width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}
